
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="sign.css" >
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>
<body>

<div class="wel">
    <div class="al">
        <h2 >Welcome to Chat room</h2>

        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        <br>
        <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button>

    </div>
</div>

<div id="id01" class="modal">

    <div class="modal-content animate" >
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input id="unameL" type="text" placeholder="Enter Username" name="logemail" required>

            <label for="psw"><b>Password</b></label>
            <input id="passL" type="password" placeholder="Enter Password" name="logpassword" required>

            <button onclick="doLogin()" id="log">Login</button>
           <!-- <input type="submit" id="log">Login</input>-->

        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>

        </div>
    </div>
</div>
<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    <div class="modal-content">
        <div class="container">
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="name"><b>Name</b></label>
            <input id="uname" type="text" placeholder="Enter Name" name="username" required>

            <label for="email"><b>Email</b></label>
            <input id="email" type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input id="pass" type="password" placeholder="Enter Password" name="password" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input id="passwordConf" type="password" placeholder="Repeat Password" name="passwordConf" required>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                <button class="signupbtn" onclick="submitForm()">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script>
function submitForm(){
    console.log("clicked submit")
    let obj={
        username : document.getElementById("uname").value,
        password :document.getElementById("pass").value,
        email : document.getElementById("email").value,
        passwordConf: document.getElementById("passwordConf").value
    }
    $.post( "/register",obj, function( data ) {
        console.log("data is ",data);
        if(data.status){
            document.getElementById('id02').style.display='none';
            alert("user saved !");
        }else{
            alert("server cashed try after sometime");
        }
    });
}

function doLogin(){
    console.log("clicked submit")
    let obj={
        username : document.getElementById("unameL").value,
        password :document.getElementById("passL").value,
    }
    $.post( "/login",obj, function( data ) {
        console.log("data is ",data);
        if(data.status){
            document.getElementById('id01').style.display='none';
            window.location = "http://localhost:3000/dashboard"
        }else{
            alert(data.msg);
        }
    });
}

</script>

</body>
</html>